{% extends "base.html.twig" %}
{% block body %}
  <div id="page-profile" data-bump-period-next="{{ bumpPeriodNext }}">
    <div class="row">
      <div class="col">
        <h1 class="layout-page-title">
          Manage Discord Servers
        </h1>
      </div>
    </div>

    {% include "profile/blocks/menu.html.twig" %}

    <div class="row">
      <div class="col col-md-8 col-sm-12 col-12">
        {# Servers #}
        <div class="row">
          {% for server in servers %}
            <div class="col col-md-6 col-sm-12 col-12">
              {% include "_cards/server-admin.html.twig" %}
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="col col-md-4 col-sm-12 col-12">
        {# FAQs #}
        <div class="row">
          <div class="col">
            {% include "profile/blocks/faqs.html.twig" %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include "profile/blocks/recaptcha-modal.html.twig" %}
{% endblock %}
