{% extends "base.html.twig" %}
{% block body %}
  <div class="row">
    <div class="col col-std-narrow">

      {# Page Title #}
      <div class="row">
        <div class="col">
          <h1 class="layout-page-title">
            Manage Discord Servers
          </h1>
        </div>
      </div>

      {# Page Menu #}
      <div class="row">
        <div class="col">
          <div class="menu-buttons">
            <a href="{{ path('server_add') }}" class="btn btn-info btn-bg">
              {{ icon('plus') }}
              Add Discord Server
            </a>
            <a href="{{ path('profile_icons') }}" class="btn btn-info btn-bg">
              {{ icon('cloud-upload-alt') }}
              Update Icons
            </a>
          </div>
        </div>
      </div>

      {# Servers #}
      <div class="row gutter-bottom-lg">
        {% for server in servers %}
          <div class="col col-md-6 col-sm-12 col-12">
            {% include "layout/cards/server-admin.html.twig" %}
          </div>
        {% endfor %}
      </div>

      {# FAQs #}
      <div class="row">
        <div class="col">
          {% include "profile/blocks/faqs.html.twig" %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
