{% extends 'base.html.twig' %}
{% block body %}
<div id="page-profile-settings">
  <div class="row">
    <div class="col">
      <h1 class="layout-page-title">
        Profile Settings
      </h1>
    </div>
  </div>

  {% include "profile/blocks/menu.html.twig" %}
</div>
{% endblock %}

