{% trans_default_domain 'FOSUserBundle' %}

<div class="row">
  <div class="col col-md-4 col-6 offset-md-4">
    {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
      <div class="card text-white bg-primary">
        <div class="card-header">
          Change Password
        </div>
        <div class="card-body">
          {{ form_widget(form) }}
        </div>
        <div class="card-footer">
          <button class="btn btn-info btn-lg btn-block" type="submit">
            {{ 'change_password.submit'|trans }}
          </button>
        </div>
      </div>
    {{ form_end(form) }}
  </div>
</div>
