{% extends "base.html.twig" %}
{% block body %}
  {% include "_layout/search.html.twig" %}
  <div id="page-home">
    {% block heading %}{% endblock %}
    {% include "_layout/servers-browse.html.twig" %}
  </div>
{% endblock %}
