{% if server.premiumStatusString != 'standard' %}
  <div class="card-premium-tag-wrap" title="{{ server.premiumStatusString|ucwords }}" data-toggle="tooltip">
    <div class="card-premium-tag card-premium-tag-{{ server.premiumStatusString }}">
      {{ icon('app-' ~ server.premiumStatusString) }}
    </div>
  </div>
{% endif %}
