{% if not status|default %}
  {% set status = server.premiumStatusString %}
{% endif %}
{% if status != 'standard' %}
  <div class="card-premium-tag-wrap{% if sm|default %} card-premium-tag-wrap-sm{% endif %}" title="{{ status|ucwords }}" data-toggle="tooltip">
    <div class="card-premium-tag{% if sm|default %} card-premium-tag-sm{% endif %} card-premium-tag-{{ status }}">
      {{ icon('app-' ~ status) }}
    </div>
  </div>
{% endif %}
