{% if not status|default %}
  {% set status = server.premiumStatusString %}
{% endif %}
{% if status != 'standard' %}
  <div class="card-premium-tag-wrap" title="{{ status|ucwords }}" data-toggle="tooltip">
    <div class="card-premium-tag card-premium-tag-{{ status }}">
      {{ icon('app-' ~ status) }}
    </div>
  </div>
{% endif %}
