{% if not status|default %}
  {% set status = server.premiumStatusString %}
{% endif %}
{% if status != 'standard' %}
  <div
    class="server-premium-banner server-premium-banner-{{ status }}"
    title="{{ status|ucwords }}"
    data-toggle="tooltip"
  >
    {{ icon('app-' ~ status) }}
    {{ status|ucwords }}
  </div>
{% endif %}
