<div class="card card-primary">
  <div class="card-body">
    <h2 class="text-center">
      FAQs
    </h2>
    <div class="card-text">
      <ul class="list-faq">
        <li>
          <h4 class="list-faq-question">
            What are Bump Points?
          </h4>
          <div class="list-faq-answer">
            Bump Points are points that help us calculate your rank on the public list.
            The more bump points you have the higher you will be ranked. If Server A has 10
            bump points and Server B and 8 bump points, Server A will be ahead of Server B.
          </div>
        </li>
        <li>
          <h4 class="list-faq-question">
            Where are my Bump points?
          </h4>
          <div class="list-faq-answer">
            Bump Points are reset on the 1st and 15th of every month. This is to help remove
            stale servers from the list, and give active servers a chance to make it to the
            top of the public list.
          </div>
        </li>
        <li>
          <h4 class="list-faq-question">
            How often can I get Bump points?
          </h4>
          <div class="list-faq-answer">
            You get 1 bump point every 6 hours. However, if you have a Gold Server you can
            get 2 every 6 hours, and Platinum Servers can get 3 every 6 hours. Bumping your servers
            is important to ranking higher on the list.
          </div>
        </li>
        <li>
          <h4 class="list-faq-question">
            How can I boost my server?
          </h4>
          <div class="list-faq-answer">
            You can boost your server by bumping as often as you can. Bumping will also put you onto
            the recently bumped page. We also have a lot of people that search, so make sure that your
            name, description, and tags are well thought out.
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
