<div class="card card-primary">
  <div class="card-body">
    <h2 class="text-center">
      FAQs
    </h2>
    <div class="card-text">
      <ul class="list-faq">
        <li>
          <h4 class="list-faq-question">
            What are Bump Points?
          </h4>
          <div class="list-faq-answer">
            Bump points are...
          </div>
        </li>
        <li>
          <h4 class="list-faq-question">
            Where are my Bump points?
          </h4>
          <div class="list-faq-answer">
            Bump points are...
          </div>
        </li>
        <li>
          <h4 class="list-faq-question">
            How often can I get Bump points?
          </h4>
          <div class="list-faq-answer">
            Bump points are...
          </div>
        </li>
        <li>
          <h4 class="list-faq-question">
            How can I boost my server?
          </h4>
          <div class="list-faq-answer">
            Bump points are...
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
