<div class="row">
  <div class="col">
    <div class="menu-buttons">
      <a href="{{ path('server_add') }}" class="btn btn-info btn-icon">
        {{ icon('plus') }}
        Add Server
      </a>
      <a href="{{ path('profile_settings') }}" class="btn btn-info btn-icon">
        {{ icon('app-settings') }}
        Settings
      </a>
    </div>
  </div>
</div>
