{% extends '@EasyAdmin/default/layout.html.twig' %}
{% block main %}
  <div id="page-admin-stats">
    <canvas id="server-stats-chart-bumps" width="400" height="150"></canvas>
    <canvas id="server-stats-chart-joins" width="400" height="150"></canvas>
  </div>
{% endblock %}
