@import "vars";

.card {
  margin-bottom: $gutter-size;
  background-color: #6b6b6b;
}

.card-primary {
  @extend .text-white;
  @extend .bg-primary;

  .btn-link {
    color: #FFF;
  }

  hr {
    border-color: #ababab;
  }

  table {
    color: #FFF;
  }
}

.card-header {
  font-weight: bold;
  background-color: lighten($color-primary, 5%);

  a {
    color: #FFF;
  }
}

.card-body {
  p:last-child,
  .form-group:last-child {
    margin-bottom: 0;
  }
}

.card-disabled {
  opacity: 0.6;
}

@import "cards/server";
@import "cards/master";
@import "cards/server_admin";
@import "cards/server_stats";
@import "cards/upgrade";
@import "cards/team";
@import "cards/banners";
