@import "vars";

.card {
  margin-bottom: $gutter-size;
  background-color: #6b6b6b;
}

.card-primary {
  @extend .text-white;
  @extend .bg-primary;

  .btn-link {
    color: #FFF;
  }
}

.card-header {
  font-weight: bold;
  background-color: lighten($color-primary, 5%);
}

.card-body {
  p:last-child {
    margin-bottom: 0;
  }
}

/**
 * Server
 */
.card-server {
  height: 240px;
  overflow: hidden;
  position: relative;

  &:hover {
    .card-server-bg {
      transform: scale(1.1);
    }

    .card-server-info {
      height: 195px;
    }

    .card-server-description {
      opacity: 1;
    }

    .card-server-info {
      background-color: rgba(0, 0, 0, 0.85);
    }
  }
}

.card-server-bg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  transition: all 0.25s;
}

.card-server-link {
  display: block;
  height: 100%;
}

.card-server-info {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 115px;
  z-index: 2;
  transition: height 0.25s;
  background-color: rgba(0, 0, 0, 0.5);
}

.card-server-icon {
  position: absolute;
  border-radius: 50%;
  top: -40px;
  left: 0;
  right: 0;
  height: 80px;
  border: 2px solid #FFF;
  margin-left: auto;
  margin-right: auto;
}

.card-server-name {
  position: absolute;
  top: 45px;
  left: 0;
  right: 0;
  color: #FFF;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 500;
}

.card-server-categories {
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  color: #FFF;
  text-align: center;
  font-size: 0.9rem;
  font-weight: normal;

  a {
    color: #FFF;
  }
}

.card-server-on-dot {
  text-shadow: 0 0 10px;
  display: inline-block;
  background-color: $color-success;
}

.card-server-members-online {
  position: absolute;
  top: 90px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 0.9rem;

  .icon {
    font-size: 0.75rem;
    text-shadow: 0 0 10px;
    display: inline-block;
    color: $color-success;
  }
}

.card-server-description {
  position: absolute;
  color: #FFF;
  top: 115px;
  left: $gutter-size;
  right: $gutter-size;
  opacity: 0;
  transition: opacity 0.5s;
}

/**
 * Server admin
 */
.card-server-admin {
  a {
    color: #FFF;
  }

  .card-img {
    height: 240px;
    overflow: hidden;
    position: relative;
  }
}

.card-server-admin-bg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  opacity: 0.2;
  transition: all 0.25s;
}

.card-server-admin-icon {
  height: 40px;
  margin-right: $gutter-size;
  border-radius: 50%;
  border: 2px solid #FFF;
}

.card-server-admin-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  h2 {
    color: #FFF;
    font-size: 1.5rem;
    margin-bottom: 0;
  }

  .card-server-admin-header-meta {
    display: flex;
    flex-grow: 2;
    align-items: center;
  }

  .icon {
    cursor: pointer;
    color: #ffffffc7;
    font-size: 1.5rem;

    &:hover {
      color: #FFF;
    }
  }
}

.card-server-admin-banner {
  width: 100%;
}

.card-server-admin-info {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: $gutter-size;
  background-color: rgba(0, 0, 0, 0.65);
}

.card-server-admin-footer {
  display: flex;
  border-top: 0;
  background-color: inherit;
  justify-content: space-between;

  a {
    color: #ffffffc7;
    font-size: 2rem;
    padding: 2px $gutter-size 0 $gutter-size;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.75);

    &:hover {
      color: #FFF;
      padding: 0 $gutter-size 2px $gutter-size;
    }
  }
}

.card-server-admin-bump-btn {
  position: absolute;
  top: $gutter-size;
  left: $gutter-size;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
