@import "vars";

.form-search {
  margin-bottom: $gutter-size;

  input {
    background-color: #000;
    border: 1px solid #525252;

    &.active {
      background-color: #FFF;
    }
  }
}

.form-control-description {
  min-height: 100px;
}

.form-help {
  color: #bfbfbf;
  font-size: 0.9rem;
}

.form-section {
  margin-bottom: $gutter-size-lg;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: #d4d4d4;
  opacity: 1;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
  background-color: $color-info;
}

.custom-control-label {
  &::before,
  &::after {
    top: 0.15rem;
  }
}

.invalid-feedback {
  color: #f14d4d;
  font-size: 1rem;
}

.btn {
  .icon {
    margin-right: 0.25rem;

    @include media-xs {
      margin-right: 0;
    }
  }
}

.file-caption-icon,
.file-caption .file-caption-name {
  padding-top: 5px;
}

.file-drop-zone.clickable:hover {
  border: 1px dashed #999;
}
