@import "vars";

.modal-primary {
  .modal-content {
    @extend .card-primary;
  }

  .modal-header {
    @extend .card-header;
    border-bottom: 0;
  }

  .modal-footer {
    border-top: 0;
  }

  .close {
    color: #FFF;
  }
}

/**
 * Server recaptcha
 */
.modal-server-admin-bump {
  .server-next-bump {
    font-size: 3rem;
  }
}

.modal-server-admin-voted {
  background-color: $color-danger;
}

/**
 * Server add
 */
.modal-server-cropper {
  .img-container {
    height: 400px;
  }
}
