@import "vars";

$height-images: 30px;

.navbar {
  margin-bottom: $gutter-size;
  background-color: $color-primary;
}

.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;

  img {
    height: $height-images;
  }
}

.nav-avatar {
  height: $height-images;
  margin-right: 5px;
}
