@import "vars";

.pagination-wrap {
  display: flex;
  justify-content: center;
}

.pagination-lg .page-link {

}

.page-link {
  color: #FFF;
  padding: 0.7rem 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;

  &:hover {
    color: #FFF;
  }
}

.page-item.disabled .page-link {
  color: #FFF;
}
