@import "vars";

.pagination-wrap {
  display: flex;
  justify-content: center;
}

.pagination-lg .page-link {

}

.page-link {
  color: #FFF;

  &:hover {
    color: #FFF;
  }
}

.page-item.disabled .page-link {
  color: #FFF;
}
