@import "vars";

.server-jumbotron {
  margin-top: -$gutter-size;
  background-size: cover;
  background-position: center;
  padding: 8rem 0;
  margin-bottom: 0;
  border-bottom: 1px solid #000;

  @include media-xs {
    padding: 4rem 0;
  }
}

.server-jumbotron-info {
  padding: $gutter-size-lg;
  background-color: rgba(0, 0, 0, 0.5);
}

.server-jumbotron-members-online {
  .icon {
    font-size: 0.9rem;
    margin-right: 0.25rem;
  }
}

.server-jumbotron-name {
  @include media-xs {
    font-size: 2.5rem;
  }
}

.server-buttons {
  margin-bottom: $gutter-size;
}

.server-icon-online {
  text-shadow: 0 0 10px;
  display: inline-block;
  color: $color-success;
}

.card-server-stats-list {
  li span {
    display: inline-block;
    width: 130px;
  }
}

.server-following {
  color: #f57c7c;
}
