@import "vars";

.hidden {
  display: none;
}

.gutter {
  padding: $gutter-size;
}

.gutter-bottom {
  padding-bottom: $gutter-size;
}

.gutter-bottom-lg {
  padding-bottom: $gutter-size-lg;
}

.gutter-margin-bottom {
  margin-bottom: $gutter-size !important;
}

.gutter-bottom-sm {
  padding-bottom: $gutter-size-sm;
}

.gutter-top {
  padding-top: $gutter-size;
}

.gutter-top-lg {
  padding-top: $gutter-size-lg;
}

.gutter-top-sm {
  padding-top: $gutter-size-sm;
}
