<footer class="footer">
  <div class="footer-copyright">
    &copy; 2019 nsfwdiscordme
    <br />
    nsfwdiscordme is not affiliated with Discord App. We're a platform to help Discord server managers grow their communities.
  </div>
  <div class="footer-links">
    <a href="{{ path('home_privacy') }}">
      Privacy Policy
    </a>
    &middot;
    <a href="{{ path('home_terms') }}">
      Terms of Use
    </a>
    &middot;
    <a href="#">
      Contact Us
    </a>
  </div>
</footer>
