<form action="{{ path('search_index') }}" method="get" class="form-search d-flex">
  <input
    type="search"
    name="q"
    value="{{ searchTerm|default }}"
    class="form-control"
    placeholder="Search"
    aria-label="Search"
  >
  <button class="btn btn-primary" type="submit">
    Search
  </button>
</form>
