<form action="{{ path('search_index') }}" method="get" class="form-search d-flex">
  <input
    type="search"
    name="q"
    value="{{ searchTerm|default }}"
    class="form-control form-control-lg {% if searchTerm|default %}active{% endif %}"
    placeholder="Search"
    aria-label="Search"
  >
  <button class="btn btn-primary btn-lg" type="submit">
    {{ icon('search') }}
  </button>
</form>
