<div class="card card-primary">
  <div class="card-header">
    Server Setup Instructions
  </div>
  <div class="card-body">
    <p>
      Open your <b>"Server Settings"</b> on <b>Discord</b> and go to
      the <b>Widget Tab (Does not show up on mobile).</b>
      Make sure the checkbox for <b>"Enable Widget"</b> is
      checked and an <b>"Instant Invite Channel"</b> is
      selected.
    </p>
    <p>
      You can change the <b>"Instant Invite Channel"</b>
      channel in the future without updating your server
      here.
    </p>
  </div>
</div>
