{% extends "server/add.html.twig" %}
{% block body %}
  <div class="row">
    <div class="col col-md-8 offset-md-2 col-sm-12 col-12">
      <div class="menu-buttons">
        <button id="server-delete-btn" class="btn btn-danger" type="button" data-server-id="{{ server.discordID }}">
          {{ icon('app-delete') }}
          Delete Server
        </button>
      </div>
    </div>
  </div>
  {{ parent() }}
  {% include "server/blocks/delete-modal.html.twig" %}
{% endblock %}
